{% extends 'template.html.twig' %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Nouvelle voiture</h4>#}
                        <div class="ml-auto col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="{{path('entretien', {'id': id})}}">Fiche voiture</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Nouvelle visite</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          {{ form_start(form) }}
                            <div class="card-body">
                              <h3 class="card-title m-b-0">Nouvelle visite</h3>
                              <br>
                              <div class="row">
                                <div class="col-md-4">
                                <div class="form-group" style="display: none;">
                                    <label>Voiture {{ form_errors(form.refVoiture) }}</label>
                                    {{ form_widget(form.refVoiture, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>Voiture</label>
                                    <input type="text" value="{{matricule}}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Numéro visite {{ form_errors(form.numVisite) }}</label>
                                    {{ form_widget(form.numVisite, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>Date début {{ form_errors(form.dateVisite) }}</label>
                                    <div class="input-group">
                                    {{ form_widget(form.dateVisite, {'attr': {'class':'form-control'}}) }}
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date fin {{ form_errors(form.dateProchVisite) }}</label>
                                    <div class="input-group">
                                    {{ form_widget(form.dateProchVisite, {'attr': {'class':'form-control'}}) }}
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label>Montant {{ form_errors(form.montant) }}</label>
                                    {{ form_widget(form.montant, {'attr': {'class':'form-control'}}) }}
                                </div>
                               </div>
                              </div>
                            </div>
                            <div class="border-top" >
                                    <div class="card-body" style="float: right;" >
                                        <div class="btn-group">
                                        <a href="{{ path('entretien', {'id': id}) }}" class="btn btn-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                        <div class="btn-group">
                                        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valider&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-primary"></div>
                                    </div>
                              </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <!-- editor -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}



