{% extends 'template.html.twig' %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Nouvelle voiture</h4>#}
                        <div class="ml-auto col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="{{path('csr_index')}}">Liste des contrats</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Nouveau paiement</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          {{ form_start(edit_form) }}
                            <div class="card-body">
                              <h3 class="card-title m-b-0">Modifier paiement</h3>
                              <br>
                              <div class="row">
                                <div class="col-md-4">
                                <div class="form-group" style="display: none;">
                                    <label>Numéro contrat {{ form_errors(edit_form.refCsr) }}</label>
                                    {{ form_widget(edit_form.refCsr, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label>Numéro contrat {{ form_errors(edit_form.refContrat) }}</label>
                                    {{ form_widget(edit_form.refContrat, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>Numéro contrat</label>
                                    <input type="text" class="form-control" value="{{num}}" readonly>
                                </div>
                                <div class="form-group">
                                <label>Date paiement {{ form_errors(edit_form.datePayement) }}</label>
                                <div class="input-group">
                                    {{ form_widget(edit_form.datePayement, {'attr': {'class':'form-control','placeholder':'jj/mm/aaaa', 'style': 'height:35.5px;'}}) }}

                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group" style="display: none;">
                                <label>Date prochain paiement {{ form_errors(edit_form.dateProchPayement) }}</label>
                                <div class="input-group">
                                    {{ form_widget(edit_form.dateProchPayement, {'attr': {'class':'form-control','placeholder':'jj/mm/aaaa', 'style': 'height:35.5px;'}}) }}

                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label>Montant total</label>
                                    <input type="text" value="{{recette}}" readonly class="form-control" id="lv_locationbundle_paiement_montantTotal">
                                </div>
                                </div>
                                <div class="col-md-4">
                                <div class="form-group">
                                    <label>Montant payé {{ form_errors(edit_form.montantPaye) }}</label>
                                    {{ form_widget(edit_form.montantPaye, {'attr': {'class':'form-control','onkeyup': 'calculReste()'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>Montant restant {{ form_errors(edit_form.montantRestant) }}</label>
                                    {{ form_widget(edit_form.montantRestant, {'attr': {'class':'form-control', 'readonly':'readonly'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>Type paiement {{ form_errors(edit_form.typePayement) }}</label>
                                    {{ form_widget(edit_form.typePayement, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group" id="numCheque" style="display: none;">
                                    <label>Numero chèque {{ form_errors(edit_form.numCheque) }}</label>
                                    {{ form_widget(edit_form.numCheque, {'attr': {'class':'form-control', 'style': 'display:none;'}}) }}
                                </div>
                                <div class="form-group" id="numVirement" style="display: none;">
                                    <label>Numero virement {{ form_errors(edit_form.numVirement) }}</label>
                                    {{ form_widget(edit_form.numVirement, {'attr': {'class':'form-control', 'style': 'display:none;'}}) }}
                                </div>
                              </div>
                            </div>
                            <div class="border-top" >
                                    <div class="card-body" style="float: right;" >
                                        <div class="btn-group">
                                        <a href="{{ path('csr_index') }}" class="btn btn-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                        <div class="btn-group">
                                        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valider&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-primary"></div>
                                    </div>
                              </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
                <!-- editor -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}
{% block javascripts %}
    
    <script>
        var aa = $('#lv_locationbundle_paiement_typePayement').val();
        if (aa == "Chèque") {
        $("#numCheque").show();
        $("#lv_locationbundle_paiement_numCheque").show();
       }
       else if (aa == "Virement bancaire") {
        $("#lv_locationbundle_paiement_numVirement").show();
        $("#numVirement").show();
       }


          $(document).ready(function() {
// [.change] Une fonction de JQuery à exécuter chaque fois que l'événement est déclenché.
    $('#lv_locationbundle_paiement_typePayement').change(function() {
        var selected = $('#lv_locationbundle_paiement_typePayement').val();
        if (selected == "Espèce" || selected == "") {

// [.fadeIn();] Fonction pour afficher le contenu du champ Compétence

// [.fadeOut();] Fonction pour cacher le contenu du champ Compétence
            $("#lv_locationbundle_paiement_numCheque").fadeOut();
            $("#numCheque").fadeOut();
            $("#lv_locationbundle_paiement_numVirement").fadeOut();
            $("#numVirement").fadeOut();
        }
        else if(selected == "Chèque") {
            $("#lv_locationbundle_paiement_numCheque").fadeIn();
            $("#numCheque").fadeIn();
            $("#lv_locationbundle_paiement_numVirement").fadeOut();
            $("#numVirement").fadeOut();
        }
        else{
            $("#lv_locationbundle_paiement_numVirement").fadeIn();
            $("#numVirement").fadeIn();
            $("#lv_locationbundle_paiement_numCheque").fadeOut();
            $("#numCheque").fadeOut();
        }
    });
});



    function calculReste() {

    var a = parseFloat($('#lv_locationbundle_paiement_montantTotal').val().replace(",", "."));
    var b = parseFloat($('#lv_locationbundle_paiement_montantPaye').val().replace(",", "."));
    var result = $("#lv_locationbundle_paiement_montantRestant");
    if(isNaN(a)){a = 0};
    if(isNaN(b)){b = 0};
    var d = a-b;
    if (d >= 0) {
    
    result.val(d.toFixed(3));}
    else {
            alert("Le montant total doît être sup au payé");
        }
        };
        
    </script>
{% endblock %}









