{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">

        
  <div class="content-wrapper">
    <section class="content-header">
      <h1><center>Détail Contrat Leasing</center></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Tableau de Bord</a></li>
        <li  class="breadcrumb-item active"> / Contrat Leasing</li>
      </ol>
    </section>

    <!-- Main content -->
     <section class="content" style="padding-left:50px;padding-right:50px;">
      <div class="row">
        <div class="col-md-12">
              <!-- TABLE: LATEST ORDERS -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title"><center>Détail Contrat Leasing</center></h3>
                </div><br><br>
                <div class="box-body">
    <table id="example" class="table table-striped" style="background-color:#f1f1f1;padding-top:25px;padding-bottom:25px;padding-left:25px;padding-right:25px; border:1px;border-style: solid;border-color: #B8B8B8;">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Contartleasing</th>
                <th>Matricule</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>Montant total</th>
                <th>Montant Payé</th>
                <th>Montant Restant</th>
                <th>Nomleasing</th>
                <th>Mois restants</th>
                <th>Date1</th>
                <th>Date2</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {#<td><a href="{{ path('echeance_show', { 'id': echeance.id }) }}">{{ echeance.id }}</a></td>#}
                <td>{{ echeance.contartLeasing }}</td>
                <td>{{ echeance.refVoiture.matricule }}</td>
                <td>{{ echeance.refVoiture.modele }}</td>
                <td>{{ echeance.refVoiture.marque}}</td>
                <td>{{ echeance.montantTotal }}</td>
                <td>{{ echeance.montantPaye }}</td>
                <td>{{ echeance.montantRestant }}</td>
                <td>{{ echeance.nomLeasing }}</td>
                <td>{{ echeance.nbrePayRestant }}</td>
                <td>{{ echeance.datePremierPay|date("d/m/Y") }}</td>
                <td>{{ echeance.dateDernierPay|date("d/m/Y") }}</td>
                <td>{{ echeance.etat }}</td>
            </tr>
        </tbody>
    </table>


    <table id="example1" class="table table-striped" style="background-color:#f1f1f1;padding-top:25px;padding-bottom:25px;padding-left:25px;padding-right:25px; border:1px;border-style: solid;border-color: #B8B8B8;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th style="width:50px">Etat</th>
                
            </tr>
        </thead>
        <tbody>
             {% set date1 =  echeance.datePremierPay %}
        {% for i in 1..dif_en_mois %}<tr>
            <td>{% if date1 %}{{ date1|date("d/m/Y") }}{% endif %}</td>
                <td>{{ echeance.montantMensuel }}</td>
                {% if ( dt == '' ) %}
                {% if(date1==echeance.datePremierPay) %}
                <td><a href="{{ path('paiementecheance_new', { 'id': echeance.id,'date' : date1|date('Y-m-d')}) }}"><button class="btn btn-success form-control" > &nbsp; Paiement &nbsp;</button></a></td>
                {% else %}
                <td><input type="button" class="btn btn-default form-control" value="Non Payée" readonly></td>
                {% endif %}
                 {% else %}
                
                {% for paiementEcheance in paiementEcheances  if ( date1 == paiementEcheance.date and paiementEcheance.date is defined ) %}
                <td><input type="button" class="btn btn-default form-control" value="&nbsp;&nbsp;&nbsp;&nbsp;Payé&nbsp;&nbsp;&nbsp;&nbsp;" readonly></td>
                {% else %}
                {% if ( date1 == dt|date_modify("+1 month") ) %}
                <td><a href="{{ path('paiementecheance_new', { 'id': echeance.id,'date' : date1|date('Y-m-d')}) }}"><button class="btn btn-success form-control" >Paiement</button></a></td>
                 {% elseif ( dt == '' ) %}
                <td><a href="{{ path('paiementecheance_new', { 'id': echeance.id,'date' : date1|date('Y-m-d')}) }}"><button class="btn btn-success form-control" >Paiement </button></a></td>
                 {% else %}
                <td><input type="button" class="btn btn-default form-control" value="Non Payée" readonly></td>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% set date1 = date1|date_modify("+1 month") %}
        </tr>
             {% endfor %}
            
        </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  </section>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}

