{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
    <div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">

        
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Ajouter une echeance
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li  class="breadcrumb-item"> / Echeance</li>
        <li  class="breadcrumb-item active"> / Ajouter une echeance</li>
      </ol>
    </section>

    <!-- Main content -->
     <section class="content" style="padding-left:50px;padding-right:50px;">
      <div class="row">
        <div class="col-md-12">
              <!-- TABLE: LATEST ORDERS -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Ajouter une echeance</h3>
                </div>
      <div align="right" class="form-group">
          <div class="input-group">
            <h4 class="text-center"><a href="{{ path('echeance_index') }}" role="button" class="btn btn-info btn-sm">Retour à la liste</a></h4>
          </div>
      </div>
                <div class="box-body">

    {{ form_start(form) }}
    <div class="span3">
        <div>
           <div >{{ form_label(form.datePremierPay) }}</div>
           {{ form_errors(form.datePremierPay) }}
           <div>{{ form_widget(form.datePremierPay) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.dateDernierPay) }}</div>
           {{ form_errors(form.dateDernierPay) }}
           <div>{{ form_widget(form.dateDernierPay, {'attr': {'onchange': 'calculDuree()'}}) }}</div>
        </div>
    </div>
    <div class="span3">
        <div>
           <div >{{ form_label(form.nbrePayRestant) }}</div>
           {{ form_errors(form.nbrePayRestant) }}
           <div>{{ form_widget(form.nbrePayRestant,{'attr': {'readonly' : true}}) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.montantTotal) }}</div>
           {{ form_errors(form.montantTotal) }}
           <div>{{ form_widget(form.montantTotal, {'attr': {'onchange': 'calculMontant()'}}) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.montantMensuel) }}</div>
           {{ form_errors(form.montantMensuel) }}
           <div>{{ form_widget(form.montantMensuel,{'attr': {'readonly' : true}}) }}</div>
        </div>
    </div>
    <div class="span3">
        <div>
           <div >{{ form_label(form.montantPaye) }}</div>
           {{ form_errors(form.montantPaye) }}
           <div>{{ form_widget(form.montantPaye,{'attr': {'readonly' : true}}) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.montantRestant) }}</div>
           {{ form_errors(form.montantRestant) }}
           <div>{{ form_widget(form.montantRestant,{'attr': {'readonly' : true}}) }}</div>
        </div>
        <div style="display:none;">
           <div >{{ form_label(form.etat) }}</div>
           {{ form_errors(form.etat) }}
           <div>{{ form_widget(form.etat) }}</div>
        </div>
    </div>
    <div class="span2">
        <div>
           <div >{{ form_label(form.contartLeasing) }}</div>
           {{ form_errors(form.contartLeasing) }}
           <div>{{ form_widget(form.contartLeasing) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.nomLeasing) }}</div>
           {{ form_errors(form.nomLeasing) }}
           <div>{{ form_widget(form.nomLeasing) }}</div>
        </div>
        <div>
           <div >{{ form_label(form.refVoiture,"Matricule") }}</div>
           {{ form_errors(form.refVoiture) }}
           <div>{{ form_widget(form.refVoiture,{'attr': {'class':'chosen-select'}}) }}</div>
        </div>
    </div>
    <div class="span9">&nbsp;</div>
    <div class="span2">
        <input type="submit" class="btn btn-success" value="Ajouter" />
    </div>
    {{ form_end(form) }}
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script> 


 function calculDuree() {
 var time1 = $('#lv_locationbundle_echeance_datePremierPay').val(), time2 = $('#lv_locationbundle_echeance_dateDernierPay').val(),result = $("#lv_locationbundle_echeance_nbrePayRestant");
 var d1 = new Date(time1).getTime(); 
 var d2 = new Date(time2).getTime();
 var msec = d2 - d1; //get difference in milliseconds
    
    
    if (parseInt(msec) >= 0) {
        hh = Math.floor(msec / 1000 / 60 / 60); //get hours
        dd = Math.floor(hh / 24); //calculate days
        msec -= hh * 1000 * 60 * 60; //remove hours from msec
        hh -= dd * 24; //remove days from hours
        var mm = Math.floor(msec / 1000 / 60); //get minutes
        result.val(parseInt(dd/30)+1);
        var jours = dd;
        }
        else {
        alert("La deuxième date doît être sup au premiére ");
        }
        }
        ;

       function calculMontant() {

    var a = $('#lv_locationbundle_echeance_montantTotal').val();
    var b = $('#lv_locationbundle_echeance_nbrePayRestant').val();
    var result = $("#lv_locationbundle_echeance_montantMensuel");
    var result2 = $("#lv_locationbundle_echeance_montantRestant");
    var d = a/b;
    if (d >= 0) {
    
    result.val(d);
    result2.val(a);}
    else {
            alert("Le montant total doît être sup à 0");
        }
        };


       

    
  

 
 </script>
 {% endblock %}

