	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="template/img/elements/fav.jpg">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Chaffar rent a car</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="template/css/linearicons.css">
			<link rel="stylesheet" href="template/css/font-awesome.min.css">
			<link rel="stylesheet" href="template/css/bootstrap.css">
			<link rel="stylesheet" href="template/css/magnific-popup.css">
			<link rel="stylesheet" href="template/css/nice-select.css">					
			<link rel="stylesheet" href="template/css/animate.min.css">
			<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">			
			<link rel="stylesheet" href="template/css/owl.carousel.css">
			<link rel="stylesheet" href="template/css/main.css">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="{{path('accueilclient')}}"><img src="template/img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
                          <li class="menu-active"><a href="{{path('accueilclient')}}">Accueil</a></li>
                          <li><a href="{{path('reserver')}}">Réservation</a></li>
                          <li><a href="{{path('voitures')}}">Voitures</a></li>
                          {#<li><a href="service.html">Service</a></li>
                          <li><a href="team.html">Team</a></li> #}
                          {#<li><a href="blog-home.html">Blog</a></li>#}    
                          <li><a href="{{path('contact')}}">Contact</a></li>   
                          {#<li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                              <li><a href="blog-single.html">Blog Single</a></li>
                              <li><a href="elements.html">Elements</a></li>
                            </ul>
                          </li>#}  
                          <li><a href="{{ path('fos_user_security_login')}}">Connexion</a></li>                
                        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">    
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h6 class="text-white ">Cité rel Mansoura Souihel, Zarzis 4170</h6>
							<h1 class="text-white text-uppercase">
								Chaffar Rent a Car				
							</h1>
							<p class="pt-20 pb-20 text-white">
								Location de tous les types de voitures touristiques. 
							</p>
							<a href="{{path('reserver')}}" class="primary-btn text-uppercase">Réserver une voiture maintenant</a>
                        </div>                                          
                    </div>
                </div>
            </section>
			
			<!-- End banner Area -->	

			<!-- Start feature Area -->
			<section class="feature-area section-gap" id="service">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text">
							<h1>Présentaion</h1>
							<p>
								
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="single-feature">
								<h4><span class="lnr lnr-user"></span>Qui sommes nous?</h4>
								<p>
									Chaffar Rent a Car est une agence de location de voitures à Zarzis qui propose à ses clients la location de voitures pas chères et adaptées à tous les besoins.
                                     Vous cherchez une solution simple et économique pour votre prochaine location de voiture pour voyage ou vacanaces. Une solution idéale qui garantit votre mobilité à chaque instant pour vous et vos proches est chez nous.<br>
                                    Votre solution pour la location de voiture à Zarzis, c’est Chaffar Rent a Car !
								</p>
							</div>
						</div>
										
					</div>
				</div>	
			</section>
			<!-- End feature Area -->		

			<!-- Start home-about Area -->
			<section class="home-about-area" id="about">
				<div class="container-fluid">				
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6 no-padding home-about-left">
							<img class="img-fluid" src="template/img/b3.jpg" alt="">
						</div>
						<div class="col-lg-6 no-padding home-about-right">
							<h1>Livraison de voitures ! <br>
							</h1>
							
							<p>
								Livraison dans le lieu, l`heure et le jour de votre convenance.
							</p>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->	

			<!-- Start model Area -->
			<section class="model-area section-gap" id="cars">
				<div class="container">
					<div class="row d-flex justify-content-center pb-40">
						<div class="col-md-8 pb-40 header-text">
							<h1 class="text-center pb-10">Choisir votre voiture péférée parmi une grande collection de modèles</h1>
							<p class="text-center">
								
							</p>
						</div>
					</div>				
					<div class="active-model-carusel">
						{% for voiture in voitures%}
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">{{voiture.marque.nom}} {{voiture.modele.nom}}</h4>
									<h2>TND {{voiture.prix}}<span>/jour</span></h2>
								</div>
								<p>
								</p>
								<p>
                                    Couleur                 : {{voiture.couleur}} <br>
                                    Nombre de portes        : {{voiture.nbrePortes}} <br>
                                    Nombres de passagers    : {{voiture.nbrePassagers}} <br>
                                    Transmission            : {{voiture.typeTransmission}}
                                </p>
								
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{asset('uploads/images/')}}{{ voiture.photo }}" alt="">
							</div>
						</div>
						{% endfor %}											
					</div>
				</div>	
			</section>
			<!-- End model Area -->


			<!-- Start fact Area -->
			<section class="facts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col single-fact">
							<h1 class="counter"></h1>
							<p></p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">{{ nbreContrats }}</h1>
							<p>Contrats</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">{{nbreClients}}</h1>
							<p>Clients</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">{{nbreVoitures}}</h1>
							<p>Voitures</p>
						</div>	
						<div class="col single-fact">
							<h1 class="counter"></h1>
							<p></p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->							

			<!-- Start reviews Area -->
			
			<!-- End reviews Area -->
			

			<!-- Start callaction Area -->

			<!-- End callaction Area -->

			<!-- Start blog Area -->
			
			<!-- End blog Area -->


			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                       
                        
                                                                    
                                          
                        
                        <p class="mt-50 mx-auto footer-text col-lg-12">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="#" target="_blank">Innovative Technology</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>                                            
                    </div>
                </div>
            </footer>  
			<!-- End footer Area -->		

			<script src="template/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="template/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			<script src="template/https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>			
  			<script src="template/js/easing.min.js"></script>			
			<script src="template/js/hoverIntent.js"></script>
			<script src="template/js/superfish.min.js"></script>	
			<script src="template/js/jquery.ajaxchimp.min.js"></script>
			<script src="template/js/jquery.magnific-popup.min.js"></script>	
			<script src="template/js/owl.carousel.min.js"></script>			
			<script src="template/js/jquery.sticky.js"></script>
			<script src="template/js/jquery.nice-select.min.js"></script>	
			<script src="template/js/waypoints.min.js"></script>
			<script src="template/js/jquery.counterup.min.js"></script>					
			<script src="template/js/parallax.min.js"></script>		
			<script src="template/js/mail-script.js"></script>	
			<script src="template/js/main.js"></script>	
		</body>
	</html>



