{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li class="active"><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
<h1>Afficher une Facture</h1>  
<div class="content-wrapper">
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li  class="breadcrumb-item"><a href="{{ path('facture_index') }}"><i class="fa fa-car"></i>Contrat</a></li>
        <li  class="breadcrumb-item active">Afficher une Facture</li>
      </ol>
    </section>
           <div align="right" class="form-group" style="margin-right:110px;">
                <div class="input-group">
                  <h4 class="text-center"><a href="{{ path('facture_pdf2', { 'id': facture.id }) }}" role="button" class="btn btn-info btn-sm">Imprimer</a></h4>
                </div>
            </div>
   <br><br>
<div class="row" style="border-style:groove;">
      <div class="span12">
      <div class="span3">
        <div>
           <div>numéro Facture</div>
           <div>{{ facture.numFacture }}</div>
        </div>
        <div>
           <div>date Facture</div>
           <div>{{ facture.dateFacture | date('Y-m-d') }}</div>
        </div>
            <div><label class="required">Num contrat :</label></div>
           <div><input type="text" required="required" value="{{ facture.refPayement.refCsr.numContrat }}" readonly/></div>
       
      </div>
      <div class="span3">
          <div>
             <label class="required">Matricule :</label>
             <input type="text" value="{{ facture.refPayement.refCsr.refVoiture.matricule }}" readonly/>
          </div>
          <div>
              <label class="required">Nom Client :</label>
              <input type="text" required="required" value="{{ facture.refPayement.refCsr.conducteur1.nom }}" readonly/>
          </div>
          <div>
              <label class="required">Prenom Client :</label>
              <input type="text" value="{{ facture.refPayement.refCsr.conducteur1.prenom }}" readonly/>
          </div>
      </div>
      <div class="span3">
        <div><label class="required">Date Payement :</label></div>
        <div><input type="text" value="{{ facture.refPayement.datePayement | date('T-m-d') }}" readonly/></div>

        <div><label class="required">Recette :</label></div>
           
           <div><input type="text" value="{{ facture.refPayement.refCsr.recette }}" readonly/></div>
     
        <div><label class="required">Montant paye :</label></div>
           
           <div><input type="text" value="{{ facture.refPayement.montantPaye }}" readonly/></div>
      
         <div><label class="required">Montnat restant :</label></div>
           
           <div><input type="text" value="{{ facture.refPayement.montantRestant }}" readonly/></div>
        
      </div>
      <div class="span2">
        <div><label class="required">Type payement</label></div>
           
           <div><input type="text" required="required" value="{{ facture.refPayement.typePayement }}" readonly/></div>
        {% if facture.refPayement.typePayement == 'Chèque' %}
        <div><label class="required">Numéro du cheque</label></div>
           
           <div><input type="text" value="{{ facture.refPayement.refCheque.numCheque }}"/></div>
        
        {% else %}
        {% endif %}
        </div>
      </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}




                                                                            
                                                                            
                                                                    