{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body><div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> 

  <div class="content-wrapper">

     <section class="content" style="mapping:25px">
      <div class="row">
        <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Listes des voitures disponibles</h3>
                </div>

    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Tableau de Bord</a></li>
        <li  class="breadcrumb-item active"><i class="fa fa-car"></i>/ Voitures disponibles</li>
      </ol>
    </section> <br><br>
                <div class="box-body">
                  <div class="table-responsive">
<div class="row"><input type="hidden" id="today" value="{{ 'now'| date('Y-m-d')}}">
{{ form_start(form) }}
        <div  class="span3">
           <div >{{ form_label(form.dateDepart) }}</div>
           {{ form_errors(form) }}
           <div>{{ form_widget(form.dateDepart, {'value':time1,'attr': {'onchange': 'calculDuree1()'}}) }}</div>
        </div>
        <div class="span3">
           <div >{{ form_label(form.dateArrivee) }}</div>
           {{ form_errors(form) }}
           <div>{{ form_widget(form.dateArrivee, {'value':time2,'attr': {'onchange': 'calculDuree()'}}) }}</div>
        </div>
        <div class="span3">
           <div >{{ form_label(form.duree) }}</div>
           {{ form_errors(form) }}
           <div>{{ form_widget(form.duree) }}</div>
        </div>
        <div class="span3"><br>
            <input type="submit" value="Chercher">
        </div>
{{ form_end(form) }}<br>
</div>
<div class="row">
    <h1>Disponibilites list entre {{ time1 |date('d-m-Y') }} et {{ time2 |date('d-m-Y') }}</h1>
    <table id="example" class="table table-striped display" style="background-color:#f1f1f1;padding-top:25px;padding-bottom:25px;padding-left:25px;padding-right:25px; border:1px;border-style: solid;border-color: #B8B8B8;">
                    <thead>
                     <tr>
                <th class="text-center">Matricule</th>
                <th class="text-center">Marque</th>
                <th class="text-center">Modele</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody id="mytbody">

        {% set newArray = [] %}
        {% for disponibilite in disponibilites %}
        {% if disponibilite.etat == 'Location' or disponibilite.etat == '' %}
           {% if disponibilite.matricule not in newArray %}
            {% set newArray = newArray|merge([disponibilite.matricule]) %}

            <tr>
                <td style="padding-top:30px;">{{ disponibilite.matricule }}</td>
               <td style="padding-top:30px;">{{ disponibilite.marque }}</td>
                <td style="padding-top:30px;">{{ disponibilite.modele }}</td>
                <td style="padding-top:15px;">
                            <h5 class="text-center"><a href="{{ path('reservation_new1', { 'time1': time1, 'time2': time2 , 'result' : duree ,'voiture': disponibilite.matricule }) }}" role="button" class="btn btn-info btn-sm">Réserver</a></h5>
                </td>
                <td style="padding-top:15px;">
                            <h5 class="text-center"><a href="{{ path('csr_new1', { 'time1': time1, 'time2': time2, 'result' : duree , 'voiture': disponibilite.matricule }) }}" role="button" class="btn btn-info btn-sm">Contrat</a></h5>                        
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
      </table>
</div>
                  </div>
                </div>
              </div>
      </div>

    </div>
  </section>
</div>


</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
 function calculDuree1() {
 var today = $('#today').val(),time1 = $('#form_dateDepart').val(), time2 = $('#form_dateArrivee').val(),result = $("#form_duree");
 var dt = new Date(today).getTime();
 var d1 = new Date(time1).getTime(); 
 var d2 = new Date(time2).getTime();
 var msec = d2 - d1; //get difference in milliseconds
 //   if(d1 >= dt ){
    if(d2>0){
    if (parseInt(msec) > 0) {
        hh = Math.floor(msec / 1000 / 60 / 60); //get hours
        dd = Math.floor(hh / 24); //calculate days
        msec -= hh * 1000 * 60 * 60; //remove hours from msec
        hh -= dd * 24; //remove days from hours
        var mm = Math.floor(msec / 1000 / 60); //get minutes
        result.val(dd + ' jours ,' + hh + ' heures ,' + mm + ' minutes');
        var jours = dd;
        document.getElementById('form_duree').value=dd + ' jours ,' + hh + ' heures ,' + mm + ' minutes';
        }
		else if (parseInt(msec) == 0) {
		document.getElementById("form_dateDepart").value=time1;
		document.getElementById("form_dateArrivee").value=time1;
        result.val('1 jours , 0  heures , 0  minutes');
        document.getElementById('form_duree').value='1 jours , 0  heures , 0  minutes';
        }
        else {
		document.getElementById("form_dateDepart").value=time1;
		document.getElementById("form_dateArrivee").value=time1;
        result.val('1 jours , 0  heures , 0  minutes');
        document.getElementById('form_duree').value='1 jours , 0  heures , 0  minutes';
        }
 }
/*}else{
		document.getElementById("form_dateDepart").value=today;
		if(d2 >= dt ){
		document.getElementById("form_dateArrivee").value=time2;
		}else{
		document.getElementById("form_dateArrivee").value=today;
		}
        result.val('1 jours , 0  heures , 0  minutes');
        document.getElementById('form_duree').value='1 jours , 0  heures , 0  minutes';}*/
 };

 function calculDuree() {
 var time1 = $('#form_dateDepart').val(), time2 = $('#form_dateArrivee').val(),result = $("#form_duree");
 var d1 = new Date(time1).getTime(); 
 var d2 = new Date(time2).getTime();
 var msec = d2 - d1; //get difference in milliseconds
    
    
    if (parseInt(msec) > 0) {
        hh = Math.floor(msec / 1000 / 60 / 60); //get hours
        dd = Math.floor(hh / 24); //calculate days
        msec -= hh * 1000 * 60 * 60; //remove hours from msec
        hh -= dd * 24; //remove days from hours
        var mm = Math.floor(msec / 1000 / 60); //get minutes
        result.val(dd + ' jours ,' + hh + ' heures ,' + mm + ' minutes');
        var jours = dd;
        document.getElementById('form_duree').value=dd + ' jours ,' + hh + ' heures ,' + mm + ' minutes';
        }
		else if (parseInt(msec) == 0) {
        result.val('1 jours , 0  heures , 0  minutes');
        document.getElementById('form_duree').value='1 jours , 0  heures , 0  minutes';
        }
        else {
        alert("La date d'arrivée doît être superieur à la date de depart");
		document.getElementById("form_dateDepart").value=time1;
		document.getElementById("form_dateArrivee").value=time1;
        result.val('1 jours , 0  heures , 0  minutes');
        document.getElementById('form_duree').value='1 jours , 0  heures , 0  minutes';
        }
        }
        ;
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mytbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(function () { 

    $("#example tr").each(function () {
        var trText = $(this).text();
        
        $("#example tr")
            .filter(function () { 
                return trText == $(this).text(); 
            })
            .not(":first")
            .remove();

    });
});
</script>
{% endblock %}