{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<h1>Ajouter une Disponibilité</h1>  
<div class="content-wrapper">
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li  class="breadcrumb-item"><a href="{{ path('disponibilite_index') }}"><i class="fa fa-car"></i>Disponibilité</a></li>
        <li  class="breadcrumb-item active">Ajouter une Disponibilité</li>
      </ol>
    </section>
           <div align="right" class="form-group" style="margin-right:110px;">
                <div class="input-group">
                  <h4 class="text-center"><a href="{{ path('disponibilite_index') }}" role="button" class="btn btn-info btn-sm">Retour à  la Liste</a></h4>
                </div>
            </div>
   
<div class="row">
   <div class="col-sm-4">
   </div>
   <div class="col-sm-5 text-left" style="background-color:#f1f1f1;padding:25px;">
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
        
        <div class="row">
           <div class="col-sm-4">{{ form_label(form.dateDebut) }}</div>
           {{ form_errors(form) }}
           <div class="col-sm-8">{{ form_widget(form.dateDebut) }}</div>
        </div>
        <div class="row">
           <div class="col-sm-4">{{ form_label(form.dateFin) }}</div>
           {{ form_errors(form) }}
           <div class="col-sm-8">{{ form_widget(form.dateFin) }}</div>
        </div>
        <div class="row">
           <div class="col-sm-4">{{ form_label(form.etat) }}</div>
           {{ form_errors(form) }}
           <div class="col-sm-8">{{ form_widget(form.etat) }}</div>
        </div>
        <div class="row">
           <div class="col-sm-4">{{ form_label(form.refVoiture) }}</div>
           {{ form_errors(form) }}
           <div class="col-sm-8">{{ form_widget(form.refVoiture,{'attr': {'class':'chosen-select'}}) }}</div>
        </div>
        
        <div class="row text-right">
            <input type="submit" value="Create" />
        </div>
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#lv_locationbundle_voiture_marque').change(function () {
            var marqueSelector = $(this);
            
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('marque_list_modeles') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    marqueid: marqueSelector.val()
                },
                success: function (modeles) {
                    var modeleSelect = $("#lv_locationbundle_voiture_modele");

                    // Remove current options
                    modeleSelect.html('');
                    
                    // Empty value ...
                    modeleSelect.append('<option value> Sélectionner un modèle ' + marqueSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(modeles, function (key, modele) {
                        modeleSelect.append('<option value="' + modele.id + '">' + modele.nom + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
{% endblock %}



