{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
<h2><center>Ajouter une Agence</center></h2>  
<div class="content-wrapper">
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li  class="breadcrumb-item"><a href="{{ path('agence_index') }}"><i class="fa fa-car"></i>Agence</a></li>
        <li  class="breadcrumb-item active">Ajouter une Agence</li>
      </ol>
    </section>
           <div align="right" class="form-group" style="margin-right:110px;">
                <div class="input-group">
                  <h4 class="text-center"><a href="{{ path('agence_index') }}" role="button" class="btn btn-info btn-sm">Retour à  la Liste</a></h4>
                </div>
            </div>
    {{ form_start(form) }}
	<div class="row">
    <div class="span3">
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.codeAgence) }}</div>
           {{ form_errors(form.codeAgence) }}
           <div class="col-sm-8">{{ form_widget(form.codeAgence) }}</div>
        </div>
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.nom) }}</div>
           {{ form_errors(form.nom) }}
           <div class="col-sm-8">{{ form_widget(form.nom) }}</div>
        </div>
    </div>
    <div class="span3">
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.adresse) }}</div>
           {{ form_errors(form.adresse) }}
           <div class="col-sm-8">{{ form_widget(form.adresse) }}</div>
        </div>
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.ville) }}</div>
           {{ form_errors(form.ville) }}
           <div class="col-sm-8">{{ form_widget(form.ville) }}</div>
        </div>
    </div>
    <div class="span3">
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.tel) }}</div>
           {{ form_errors(form.tel) }}
           <div class="col-sm-8">{{ form_widget(form.tel) }}</div>
        </div>
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.tel2) }}</div>
           {{ form_errors(form.tel2) }}
           <div class="col-sm-8">{{ form_widget(form.tel2) }}</div>
        </div>
    </div>
    <div class="span2">
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.fax) }}</div>
           {{ form_errors(form.fax) }}
           <div class="col-sm-8">{{ form_widget(form.fax) }}</div>
        </div>
        <div class="row" style="padding-bottom:25px;">
           <div class="col-sm-4">{{ form_label(form.nature) }}</div>
           {{ form_errors(form.nature) }}
           <div class="col-sm-8">{{ form_widget(form.nature) }}</div>
        </div>
    </div>
	</div>
        <div class="row" align="right">
            <input type="submit" class="btn btn-success" value="Ajouter" />
        </div>
    {{ form_end(form) }}
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}