{% extends 'template.html.twig' %}
{% block stylesheets %}
<style type="text/css">
    @media (max-width: 600px){
      #title{
        margin-bottom: 20px;
      }
      #button{
        height: 35px;
      }
    }
  </style>
{% endblock %}
{% block body %}
<!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Liste des contrats</h4>#}
                        <div class="ml-auto text-right col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Liste des contrats</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                <h3 class="card-title m-b-0 col-md-6 col-12" id="title">Liste des contrats</h3>
                                <div class="col-md-4 col-1"></div>
                                <div class="btn-group col-md-2 col-12" style="float: right;">
                                  <a href="{{ path('disponibilite_search') }}" class="btn btn-success" id="button" style="width: 150px;">Ajouter contrat</a>
                                </div>
                                </div>
                                <br>
                                <div class="col-12 row">
                                  <input type="text" id="numContrat" placeholder="Rechercher numéro" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="dateDebut" placeholder="Rechercher date départ" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="dateFin" placeholder="Rechercher date arrivée" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="conducteur1" placeholder="Rechercher conducteur" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                </div>
                                <br>
                                <div class="table-responsive">
                                  <table id="zero_config" width="100%" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                              <th style="display: none;">Id</th>
                                              <th>Numéro contrat</th>
                                              <th>Premier conducteur</th>
                                              <th>Voiture</th>
                                              <th>Date contrat</th>
                                              <th>Date de départ</th>
                                              <th>Date d'arrivée</th>
                                              {#<th>Km départ</th>
                                              <th>Niveau carburant</th>
                                              <th>Tarif</th>
                                              <th>Recette</th>#}
                                              <th>Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for result in results %}
                                          <tr>
                                            <td style="display: none;">{{ result.id}}</td>
                                            <td>{{ result.numContrat }}</td>
                                            <td>{{ result.conducteur1.nom }} {{ result.conducteur1.prenom }}</td>
                                            <td>{% if result in contrats%}{{ result.refReservation.refVoiture.matricule }}{% else %}{{ result.refVoiture.matricule }}{% endif %}</td>
                                            <td>{% if result.dateContrat %}{{ result.dateContrat|date('d/m/Y') }}{% endif %}</td>
                                            <td>{% if result in contrats%}{% if result.refReservation.dateDebut %}{{ result.refReservation.dateDebut|date('d/m/Y H:i') }}{% endif %}{% else %}{% if result.dateDebut %}{{ result.dateDebut|date('d/m/Y H:i') }}{% endif %}{% endif %}</td>
                                            <td>{% if result in contrats%}{% if result.refReservation.dateFin %}{{ result.refReservation.dateFin|date('d/m/Y H:i') }}{% endif %}{% else %}{% if result.dateFin %}{{ result.dateFin|date('d/m/Y H:i') }}{% endif %}{% endif %}</td>
                                            {#<td>{{ result.kmDepart }}</td>
                                            <td>{{ result.niveauCarburant }}</td>
                                            <td>{{ result.tarif }}</td>
                                            <td>{{ result.recette }}</td>#}
                                            <td class="text-center" style='white-space: nowrap'>
{% if (result in cSRs) %}

  {% for paiement in paiements if (paiement.montantPaye >= 0 and paiement.refCsr.id is defined and paiement.refCsr.id == result.id)  %}
                  
    {% if (paiement.montantRestant == 0) %}
                        
      <input type="button" class="btn btn-secondary btn-sm" value="Modifier" readonly style="width: 72px;">

      <input type="button" class="btn btn-secondary btn-sm" value="Payé" readonly style="width: 72px;">

      <input type="button" class="btn btn-secondary btn-sm" value="Supprimer" readonly style="width: 72px;">                
            
    {% elseif (paiement.montantPaye>= 0 and paiement.montantPaye< paiement.refCsr.total)%}  
                        
    <a href="{{ path('csr_edit', { 'id': result.id }) }}" role="button" class="btn btn-success btn-sm" style="width: 72px;">Modifier</a>
                        
    <a href="{{ path('paiement_edit2', { 'id': result.id }) }}" role="button" class="btn btn-warning btn-sm" style="width: 72px;">En cours</a>
                       
    <input type="button" class="btn btn-secondary btn-sm" value="Supprimer" readonly style="width: 72px;">
             
    {% endif %}
  
  {% else %} 
                        
  <a href="{{ path('csr_edit', { 'id': result.id }) }}" role="button" class="btn btn-success btn-sm" style="width: 72px;">Modifier</a>
                       
  <a href="{{ path('paiement_new2', { 'id': result.id }) }}" role="button" class="btn btn-danger btn-sm" style="width: 72px;">Paiement</a>
                      
  <a href="" role="button" class="btn btn-danger btn-sm" style="width: 72px;" data-placement="top" title="" data-original-title="Supprimer"  data-toggle="modal" data-target="#deleteModal{{ result.id }}">Supprimer</a>
                                           
  {% endfor %}
                      
{% endif %}

                        {% if result.conducteur2 == null %}
                        <input type="button" class="print btn btn-primary btn-sm" value="Impression" readonly style="width: 72px;" data-numero="{{result.numContrat}}" data-nom="{{result.conducteur1.nom}}" data-prenom="{{result.conducteur1.prenom}}" data-naissance="{{result.conducteur1.dateNaissance|date('d/m/Y')}}" data-cin="{{result.conducteur1.cin}}" data-permis="{{result.conducteur1.numPermis}}" data-delivre="{{result.conducteur1.delivre|date('d/m/Y')}}" data-telephone="{{result.conducteur1.telephone}}" data-adresse="{{result.conducteur1.adresse}}" data-nom2="**********" data-prenom2="**********" data-naissance2="**********" data-cin2="**********" data-permis2="**********" data-delivre2="**********" data-telephone2="**********" data-adresse2="**********" data-matricule="{{result.refVoiture.matricule}}" data-marque="{{result.refVoiture.marque}}" data-datedep="{{result.dateDebut|date('d/m/Y')}}" data-heuredep="{{result.dateDebut|date('H:i')}}" data-datearr="{{result.dateFin|date('d/m/Y')}}" data-heurearr="{{result.dateFin|date('H:i')}}" data-kmdepart="{{result.kmDepart}}" data-niveaucarburant="{{result.niveauCarburant}}" data-garant="{{result.garant}}" data-frais="{{result.fraisAeroport}}" data-siege="{{result.siegeBebe}}" data-montant="{{result.tarif}}" data-supplement="{{result.supplement}}" data-carburant="{{result.carburant}}" data-totalhtva="{{result.totalHTVA}}" data-tva="{{result.tva}}" data-timbre="{{result.timbre}}" data-soustotal="{{result.sousTotal}}" data-total="{{result.total}}" data-etat="{{result.etat}}">
                        {% elseif result.conducteur2 != null %}
                        <input type="button" class="print btn btn-primary btn-sm" value="Impression" readonly style="width: 72px;" data-numero="{{result.numContrat}}" data-nom="{{result.conducteur1.nom}}" data-prenom="{{result.conducteur1.prenom}}" data-naissance="{{result.conducteur1.dateNaissance|date('d/m/Y')}}" data-cin="{{result.conducteur1.cin}}" data-permis="{{result.conducteur1.numPermis}}" data-delivre="{{result.conducteur1.delivre|date('d/m/Y')}}" data-telephone="{{result.conducteur1.telephone}}" data-adresse="{{result.conducteur1.adresse}}" data-nom2="{{result.conducteur2.nom}}" data-prenom2="{{result.conducteur2.prenom}}" data-naissance2="{{result.conducteur2.dateNaissance|date('d/m/Y')}}" data-cin2="{{result.conducteur2.cin}}" data-permis2="{{result.conducteur2.numPermis}}" data-delivre2="{{result.conducteur2.delivre|date('d/m/Y')}}" data-telephone2="{{result.conducteur2.telephone}}" data-adresse2="{{result.conducteur2.adresse}}" data-matricule="{{result.refVoiture.matricule}}" data-marque="{{result.refVoiture.marque}}" data-datedep="{{result.dateDebut|date('d/m/Y')}}" data-heuredep="{{result.dateDebut|date('H:i')}}" data-datearr="{{result.dateFin|date('d/m/Y')}}" data-heurearr="{{result.dateFin|date('H:i')}}" data-kmdepart="{{result.kmDepart}}" data-niveaucarburant="{{result.niveauCarburant}}" data-garant="{{result.garant}}" data-frais="{{result.fraisAeroport}}" data-siege="{{result.siegeBebe}}" data-montant="{{result.tarif}}" data-supplement="{{result.supplement}}" data-carburant="{{result.carburant}}" data-totalhtva="{{result.totalHTVA}}" data-tva="{{result.tva}}" data-timbre="{{result.timbre}}" data-soustotal="{{result.sousTotal}}" data-total="{{result.total}}" data-etat="{{result.etat}}">
                        {% endif %}
                         
                        </td>
                        </tr>
                        <div class="modal fade" id="deleteModal{{ result.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-="true">
                                <div class="modal-dialog">
                                    <br><br><br><br>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmation de supression :</h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-="true">&times;</button>
                                        </div>
                                        <div class="modal-body text-center" >
                                            <p><span>Voulez-vous vraiment supprimer le contrat numéro : <a href="#"></a>  {{ result.numContrat }}? </span></p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                            <a href="{{ path ('csr_delete',{'id': result.id}) }}" class="btn btn-danger"  id="lien" >Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
{% endblock %}
{% block javascripts %}
<script>
 var table = $('#zero_config').DataTable();
 
$('#numContrat').on( 'keyup', function () {
    table
        .columns( 1 )
        .search( this.value )
        .draw();
} );
$('#conducteur1').on( 'keyup', function () {
    table
        .columns( 2 )
        .search( this.value )
        .draw();
} );
$('#dateDebut').on( 'keyup', function () {
    table
        .columns( 4 )
        .search( this.value )
        .draw();
} );
$('#dateFin').on( 'keyup', function () {
    table
        .columns( 5 )
        .search( this.value )
        .draw();
} );
</script>
</script>
<!--Menu sidebar -->
    <script src="{{ asset('dist/js/jspdf.min.js') }}"></script>
<script>
  $('#zero_config tbody').on('click', '.print', function () {
    
     var doc = new jsPDF();


         //doc.addImage(imgData, 'JPEG',0,0,210,297);
    
    vide = '**********';
    var numero = $(this).data('numero');
    var nom = $(this).data('nom');
    var prenom = $(this).data('prenom');
    var naissance = $(this).data('naissance');
    var cin = ($(this).data('cin')).toString();
    var permis = ($(this).data('permis')).toString();
    var delivre = $(this).data('delivre');
    var telephone = ($(this).data('telephone')).toString();
    var adresse = $(this).data('adresse');

    var nom2 = $(this).data('nom2');
    var prenom2 = $(this).data('prenom2');
    var naissance2 = $(this).data('naissance2');
    var cin2 = ($(this).data('cin2')).toString();
    var permis2 = ($(this).data('permis2')).toString();
    var delivre2 = $(this).data('delivre2');
    var telephone2 = ($(this).data('telephone2')).toString();
    var adresse2 = $(this).data('adresse2');

    var matricule = $(this).data('matricule');
    var marque = $(this).data('marque');
    var datedep = $(this).data('datedep');
    var heuredep = $(this).data('heuredep');
    var datearr = $(this).data('datearr');
    var heurearr = $(this).data('heurearr');
    var kmdepart = ($(this).data('kmdepart')).toString();
    var niveaucarburant = $(this).data('niveaucarburant');
    var etat = $(this).data('etat');

    if($(this).data('garant') == ''){
      var garant = ($(this).data('garant')).toString();
    }
    else{
      var garant = (($(this).data('garant')).toFixed(3)).toString();
    }
    
    if($(this).data('frais') == ''){
      var frais = ($(this).data('frais')).toString();
    }
    else{
      var frais = (($(this).data('frais')).toFixed(3)).toString();
    }

    if($(this).data('siege') == ''){
      var siege = ($(this).data('siege')).toString();
    }
    else{
      var siege = (($(this).data('siege')).toFixed(3)).toString();
    }

    var montant = (($(this).data('montant')).toFixed(3)).toString();
    
    if($(this).data('supplement') == ''){
      var supplement = ($(this).data('supplement')).toString();
    }
    else{
      var supplement = (($(this).data('supplement')).toFixed(3)).toString();
    }

    if($(this).data('carburant') == ''){
      var carburant = ($(this).data('carburant')).toString();
    }
    else{
      var carburant = (($(this).data('carburant')).toFixed(3)).toString();
    } 

    var totalhtva = (($(this).data('totalhtva')).toFixed(3)).toString();
    var tva = (($(this).data('tva')).toFixed(3)).toString();
    var soustotal = (($(this).data('soustotal')).toFixed(3)).toString();
    var timbre = (($(this).data('timbre')).toFixed(3)).toString();
    var total = (($(this).data('total')).toFixed(3)).toString();


    
     doc.setFontSize(11);
     doc.setTextColor(0, 0, 0);
    
    //doc.text(30, 50, numero);
    doc.text(153, 45, 'N°: '+ numero);
     var splitTitle = doc.splitTextToSize(etat, 45);
     doc.text(15, 228, splitTitle);
    // //doc.text(19, 231, etat);

    doc.text(21, 66.1, nom);
    doc.text(26, 72.1, prenom);
    doc.text(44, 78.1, naissance);
    doc.text(50, 84.1, cin);
    doc.text(30 , 90.1, permis);
    doc.text(30, 96.1, delivre);
    doc.text(30, 102.1, telephone);
    doc.text(26, 108.1, adresse);

     doc.text(21, 126.9, nom2);
     doc.text(26, 132.9, prenom2);
     doc.text(44, 138.9, naissance2);
     doc.text(50, 144.9, cin2);
     doc.text(30, 150.9, permis2);
     doc.text(30, 156.7, delivre2);
     doc.text(30, 162.7, telephone2);
     doc.text(26, 168.7, adresse2);

     doc.text(16, 183, vide);
     doc.text(16, 189, vide);

     doc.text(57, 183, vide);
     doc.text(57, 189, vide);

     doc.text(101, 183, vide);
     doc.text(101, 189, vide);

    doc.text(164, 60.4, marque);
    doc.text(164, 65.3, matricule);
    doc.text(164, 73.6, datedep);
    doc.text(164, 78.1, heuredep);
    doc.text(164, 86.5, datearr);
    doc.text(164, 90.8, heurearr);
    //doc.text(168, 95, vide);
    //doc.text(168, 100, vide);
    doc.text(164, 111.4, kmdepart);
    //doc.text(168, 113, vide);
    if(niveaucarburant == '0'){
      doc.text(167, 120, 'X');
      doc.text(173, 120, 'X');
      doc.text(179, 120, 'X');
      doc.text(185, 120, 'X');
    }
    else if(niveaucarburant == '1/4'){
      doc.text(161, 120, 'X');
      doc.text(173, 120, 'X');
      doc.text(179, 120, 'X');
      doc.text(185, 120, 'X');
    }
    else if(niveaucarburant == '1/2'){
      doc.text(161, 120, 'X');
      doc.text(167, 120, 'X');
      doc.text(179, 120, 'X');
      doc.text(185, 120, 'X');
    }
    else if(niveaucarburant == '3/4'){
      doc.text(161, 120, 'X');
      doc.text(167, 120, 'X');
      doc.text(173, 120, 'X');
      doc.text(185, 120, 'X');
    }
    else if(niveaucarburant == 'Full'){
      doc.text(161, 120, 'X');
      doc.text(167, 120, 'X');
      doc.text(173, 120, 'X');
      doc.text(179, 120, 'X');
    }

    doc.text(164, 134.4, vide);
    doc.text(164, 139.1, vide);
    doc.text(164, 147.8, vide);
    doc.text(164, 152.2, vide);
    doc.text(164, 160.6, vide);
    doc.text(164, 165.1, vide);
    doc.text(164, 172.5, vide);
    doc.text(164, 177.6, vide);

    if(garant != ''){
    doc.text(141, 186.4, garant);
    }
    else{
      doc.text(141, 186.4, vide);
    }
    if(frais != ''){
      doc.text(152, 192.3, frais);
    }
    else{
      doc.text(152, 192.3, vide);
    }
    if(siege != ''){
      doc.text(146, 198.4, siege);
    }
    else{
      doc.text(146, 198.4, vide);
    }

    doc.text(163, 206.8, montant);
    doc.text(163, 212, vide);
    if(supplement != ''){
      doc.text(163, 215.4, supplement);
    }
    else{
      doc.text(163, 215.4, vide);
    }
    if(carburant != ''){
      doc.text(163, 219.5, carburant);
    }
    else{
      doc.text(163, 219.5, vide);
    }
    doc.text(163, 223.6, totalhtva);
    doc.text(163, 227.9, tva);
    doc.text(163, 232.4, soustotal);
    doc.text(163, 236.5, timbre);
    doc.text(163, 241.2, total);

    doc.autoPrint();
    window.open(doc.output('bloburl'), '_blank');
    //window.open(doc.output('bloburl'));

    

    
    
  

  });
</script>
</script>
{% endblock %}
