{% extends 'template.html.twig' %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Nouvelle voiture</h4>#}
                        <div class="ml-auto col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="{{path('marque_index')}}">Liste des marques</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Nouvelle marque</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          {{ form_start(form) }}
                            <div class="card-body">
                              <h3 class="card-title m-b-0">Nouvelle marque</h3>
                              <br>
                              <div class="row">
                                <div class="col-md-4">
                                <div class="form-group">
                                    <label>Marque {{ form_errors(form.nom) }}</label>
                                    {{ form_widget(form.nom, {'attr': {'class':'form-control'}}) }}
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="border-top" >
                                    <div class="card-body" style="float: right;" >
                                        <div class="btn-group">
                                        <a href="{{ path('marque_index') }}" class="btn btn-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                        <div class="btn-group">
                                        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valider&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-primary"></div>
                                    </div>
                              </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <!-- editor -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}


