{% extends 'template.html.twig' %}
{% block stylesheets %}
<style type="text/css">
    @media (max-width: 600px){
      #title{
        margin-bottom: 20px;
      }
      #button{
        height: 35px;
      }
    }
  </style>
{% endblock %}
{% block body %}
<!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Liste des voitures pour location</h4>#}
                        <div class="ml-auto text-right col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Liste des voitures pour location</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                <h3 class="card-title m-b-0 col-md-6 col-12" id="title">Liste des voitures pour location</h3>
                                <div class="col-md-4 col-1"></div>
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="btn-group col-md-2 col-12" style="float: right;">
                                  <a href="{{ path('voiture_new') }}" class="btn btn-success" id="button" style="width: 150px;">Ajouter voiture</a>
                                </div>
                                {% endif %}
                                </div>
                                <br>
                                <div class="col-12 row">
                                  <input type="text" id="matricule" placeholder="Rechercher matricule" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="marque" placeholder="Rechercher marque" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="modele" placeholder="Rechercher date premier pay" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                  <input type="text" id="couleur" placeholder="Rechercher date écheane" title="Type in a name" class="col-md-2 col-8 form-control">&nbsp;&nbsp;
                                </div>
                                <br>
                                <div class="table-responsive">
                                  <table id="zero_config" width="100%" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                            <th style="display: none;">Id</th>
                                            <th>Photo</th>
                                            <th>Matricule</th>
                                            <th>Marque</th>
                                            {#<th>Code couleur</th>
                                            <th>Code Radio</th>
                                            <th>Nombre portes</th>
                                            <th>Nombre passagers</th>
                                            <th>Capacité bagages</th>#}
                                            {#<th>Age</th>#}
                                            <th>Date premier payement</th>
                                            <th>Date dernier payement</th>
                                            <th>Montant total</th>
                                            <th>Montant mensuel</th>
                                            <th>Montant restant</th>
                                            <th>Prix/Jour</th>
                                            <th>Total depenses</th>
                                            <th>Active</th>
                                            <th>Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for voiture in voitures %}
                                          <tr>
                                            <td style="display: none;">{{ voiture.voiture.id}}</td>
                                            <td style="padding:0 !important;" width="135px">
                                              {% if voiture.voiture.photo != null %}
                                              <img src="{{asset('uploads/images/')}}{{ voiture.voiture.photo }}" width="135px" height="66">
                                              {% else %}
                                              <img src="{{ asset('assets/images/Pas-dimage-disponible.jpg') }}" width="135px" height="66" />
                                              {% endif %}
                                            </td>
                                            <td>{{ voiture.voiture.matricule }}</td>
                                            <td>{{ voiture.voiture.marque.nom }} {{ voiture.voiture.modele.nom }}</td>
                                            {#<td>{{ voiture.voiture.couleur }}</td>
                                            <td>{{ voiture.voiture.codeRadio }}</td>
                                            <td>{{ voiture.voiture.nbrePortes }}</td>
                                            <td>{{ voiture.voiture.nbrePassagers }}</td>
                                            <td>{{ voiture.voiture.capaciteBagages }}</td>#}
                                            {#<td>{{ voiture.voiture.age }}</td>#}
                                            <td>{{ voiture.voiture.datePremierPay|date('d/m/Y') }}</td>
                                            <td>{{ voiture.voiture.dateDernierPay|date('d/m/Y') }}</td>
                                            <td class="montantTotal-col">{{ voiture.voiture.montantTotal|number_format(3, '.', ',') }} TND</td>
                                            <td class="montantMensuel-col">{{ voiture.voiture.montantMensuel|number_format(3, '.', ',') }} TND</td>
                                            <td class="montantRestant-col">{{ voiture.montantRestant|number_format(3, '.', ',') }} TND</td>
                                            <td class="prix-col">{{ voiture.voiture.prix|number_format(3, '.', ',') }} TND</td>
                                            <td class="totalDepenses-col">{{ voiture.voiture.totalDepenses|number_format(3, '.', ',') }} TND</td>
                                            <td>{% if voiture.voiture.isEnable %}
                                                  Oui
                                                {% else %}
                                                  Non
                                                {% endif %}             
                                            </td>
                                            <td class="text-center" style='white-space: nowrap'>

                            {{ render(controller('LocationBundle:Voiture:show',{'id':voiture.voiture.id})) }}

                            <a href="{{ path('voiture_edit', { 'id': voiture.voiture.id }) }}" class="btn btn-warning"><span class="fas fa-edit" aria-hidden="true"></span></a>

                            <a href="" class="btn btn-danger" data-placement="top" title="" data-original-title="Supprimer"  data-toggle="modal" data-target="#deleteModal{{ voiture.voiture.id }}"><span class="fas fa-trash-alt" aria-hidden="true"></span></a>
                            <div class="modal fade none-border" id="deleteModal{{ voiture.voiture.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmation de supression</h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body" >
                                            <p><span>Voulez-vous vraiment supprimer la voiture : <a href="#"></a>{{ voiture.voiture.matricule }} ? </span></p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a href="{{ path ('voiture_delete',{'id': voiture.voiture.id}) }}" class="btn btn-danger"  id="lien" >Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
               
                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                        <tfoot>
                                          <tr>
                                              <th colspan="5" style="text-align:right">Total :</th>
                                              <th style="font-weight: bold;" id="montantTotalTotal"></th>
                                              <th style="font-weight: bold;" id="montantMensuelTotal"></th>
                                              <th style="font-weight: bold;" id="montantRestantTotal"></th>
                                              <th style="font-weight: bold;" id="prixTotal"></th>
                                              <th style="font-weight: bold;" id="totalDepensesTotal"></th>
                                              <th></th>
                                              <th></th>
                                          </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}
{% block javascripts %}
<script>
  

var table = $('#zero_config').DataTable();

document.addEventListener("DOMContentLoaded", function() {
    function calculateTotal() {
        let total = 0;

        document.querySelectorAll(".montantTotal-col").forEach(function(cell) {
            // Nettoyer la valeur (supprimer DT, virgules, espaces)
            let value = cell.innerText.replace("TND", "").replace(/,/g, "").trim();
            total += parseFloat(value) || 0;
        });

        document.getElementById("montantTotalTotal").innerText = total.toFixed(3) + " TND";

        total = 0;
        document.querySelectorAll(".montantMensuel-col").forEach(function(cell) {
            // Nettoyer la valeur (supprimer DT, virgules, espaces)
            let value = cell.innerText.replace("TND", "").replace(/,/g, "").trim();
            total += parseFloat(value) || 0;
        });
        document.getElementById("montantMensuelTotal").innerText = total.toFixed(3) + " TND";

         total = 0;
        document.querySelectorAll(".montantRestant-col").forEach(function(cell) {
            // Nettoyer la valeur (supprimer DT, virgules, espaces)
            let value = cell.innerText.replace("TND", "").replace(/,/g, "").trim();
            total += parseFloat(value) || 0;
        });
        document.getElementById("montantRestantTotal").innerText = total.toFixed(3) + " TND";

         total = 0;
        document.querySelectorAll(".prix-col").forEach(function(cell) {
            // Nettoyer la valeur (supprimer DT, virgules, espaces)
            let value = cell.innerText.replace("TND", "").replace(/,/g, "").trim();
            total += parseFloat(value) || 0;
        });
        document.getElementById("prixTotal").innerText = total.toFixed(3) + " TND";

         total = 0;
        document.querySelectorAll(".totalDepenses-col").forEach(function(cell) {
            // Nettoyer la valeur (supprimer DT, virgules, espaces)
            let value = cell.innerText.replace("TND", "").replace(/,/g, "").trim();
            total += parseFloat(value) || 0;
        });
        document.getElementById("totalDepensesTotal").innerText = total.toFixed(3) + " TND";
    }

    // Calcul initial
    calculateTotal();

    // Observer les changements dans le tableau
    const target = document.querySelector("tbody");
    if (target) {
        const observer = new MutationObserver(function() {
            calculateTotal();
        });

        observer.observe(target, { childList: true, subtree: true, characterData: true });
    }
});

 
$('#matricule').on( 'keyup', function () {
    table
        .columns( 2 )
        .search( this.value )
        .draw();
} );
$('#marque').on( 'keyup', function () {
    table
        .columns( 3 )
        .search( this.value )
        .draw();
} );
$('#modele').on( 'keyup', function () {
    table
        .columns( 4 )
        .search( this.value )
        .draw();
} );
$('#couleur').on( 'keyup', function () {
    table
        .columns( 5 )
        .search( this.value )
        .draw();
} );
</script>
{% endblock %}