{% extends 'template.html.twig' %}
{% block body %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        {#<h4 class="page-title">Nouvelle voiture</h4>#}
                        <div class="ml-auto col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="{{path('csr_index')}}">Liste des contrats</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Nouvelle facture</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                         <div class="form-group" style="display: none;">
                            <label>{{ form_errors(form.numFacture) }}</label>
                            {{ form_widget(form.numFacture, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>{{ form_errors(form.dateFacture) }}</label>
                            {{ form_widget(form.dateFacture, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>{{ form_errors(form.refPayement) }}</label>
                            {{ form_widget(form.refPayement, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="card card-body printableArea">
                            <h3><b>FACTURE </b> <span class="pull-right">#{{rnum}}</span></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address>
                                            <h3> &nbsp;<b class="text-danger">{{agence.nom}}</b></h3>
                                            <p class="text-muted m-l-5">Tél 1 : {{agence.tel}},
                                                <br/> Tél 2 : {{agence.tel2}},
                                                <br/> Fax : {{agence.Fax}},
                                                <br/> {{agence.adresse}},
                                                <br/> Tunisie</p>
                                        </address>
                                    </div>
                                    <div class="pull-right text-right">
                                        <address>
                                            <h3>Client,</h3>
                                            <h4 class="font-bold">{{ prenom}} {{nom}},<br></h4>
                                            <p class="text-muted m-l-30">Tél: {{telephone}},
                                                <br/>Adresse : {{adresse}}</p>
                                            <p class="m-t-30"><b>Date :</b> <i class="fa fa-calendar"></i> {{"now"|date('d/m/Y')}}</p>
                                            <p><b>Date contrat :</b> <i class="fa fa-calendar"></i> {% if dateContrat %}{{ dateContrat|date('d/m/Y') }}{% endif %}</p>
                                            <p><b>Numéro contrat : </b>{{numContrat}}</p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive m-t-40" style="clear: both;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Description</th>
                                                    <th class="text-right">Quantité</th>
                                                    <th class="text-right">Prix</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>Location de voiture {{marque}} {{modele}} : {{matricule}}<br> de {% if p.refCsr.dateDebut %}{{ p.refCsr.dateDebut|date('d/m/Y H:i') }}{% endif %}
                                                    à {% if p.refCsr.dateFin %}{{ p.refCsr.dateFin|date('d/m/Y H:i') }}{% endif %}
                                                    </td>
                                                    <td class="text-right">{{duree}}</td>
                                                    <td class="text-right">{{tarif|number_format(3, '.', ',')}}</td>
                                                    <td class="text-right">{{recette|number_format(3, '.', ',')}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-right m-t-30 text-right">
                                        <p>Total : {{recette|number_format(3, '.', ',')}} TND</p>
                                        <hr>
                                        <h3><b>Total :</b> {{recette|number_format(3, '.', ',')}} TND</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="text-right">
                                        <a href="{{ path('csr_index') }}" class="btn btn-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valider&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-primary"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- editor -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}








                                                                            
                                                                            
                                                                    