{% extends 'base.html.twig' %}
{% block menu %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{{path('accueil')}}"><i class="icon-dashboard"></i><span>Tableau de Bord</span> </a> </li>
        <li><a href="{{path('voiture_index')}}"><i class="fa fa-automobile"></i><span>Vehicule</span> </a> </li>
        <li><a href="{{path('client_index')}}"><i class="shortcut-icon icon-user"></i><span>Client</span> </a></li>
        <li><a href="{{path('reservation_index')}}"><i class="shortcut-icon icon-save"></i><span>Reservation</span> </a> </li>
        <li><a href="{{path('csr_index')}}"><i class="shortcut-icon icon-edit"></i><span>Contrat</span> </a> </li>
        <li><a href="{{path('paiement_index')}}"><i class="shortcut-icon icon-random"></i><span>Paiement</span> </a> </li>
        <li><a href="{{path('facture_index')}}"><i class="shortcut-icon icon-list-alt"></i><span>Facture</span> </a> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">

  <div class="content-wrapper">

     <section class="content" style="mapping:25px">
      <div class="row">
        <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Modifier une information au Retour de Voiture</h3>
                </div>
    <section class="content-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Tableau de Bord</a></li>
        <li class="breadcrumb-item"><a href="{{path('retour_index')}}"><i class="fa fa-car"></i>/ Retour</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-car"></i>/ Modifier une information au Retour de Voiture</li>
      </ol>
    </section>
      <div align="right" class="form-group">
          <div class="input-group">
            <h4 class="text-center"><a href="{{ path('retour_index') }}" role="button" class="btn btn-info btn-sm">Retour à la liste</a></h4>
          </div>
      </div><br>
                <div class="box-body">
                    {{ form_start(edit_form) }}
                      <div class="span4">
                         <div class="row" style="display:none;">
                             <div class="col-sm-4">{{ form_label(edit_form.refContrat) }}</div>
                             {{ form_errors(edit_form.refContrat) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.refContrat,{'attr': {'class':'chosen-select'}}) }}</div>
                         </div>
                         <div class="row">
                             <div class="col-sm-4">{{ form_label(edit_form.refCsr) }}</div>
                             {{ form_errors(edit_form.refCsr) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.refCsr,{'attr': {'class':'chosen-select'}}) }}</div>
                         </div>
                         <div class="row">
                             <div class="col-sm-4">{{ form_label(edit_form.refClient) }}</div>
                             {{ form_errors(edit_form.refClient) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.refClient,{'attr': {'class':'chosen-select'}}) }}</div>
                          </div>
                      </div>
                      <div class="span4">
                          <div class="row">
                             <div class="col-sm-4">{{ form_label(edit_form.refVoiture) }}</div>
                             {{ form_errors(edit_form.refVoiture) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.refVoiture,{'attr': {'class':'chosen-select'}}) }}</div>
                          </div>
                          <div class="row">
                             <div class="col-sm-4">{{ form_label(edit_form.km,'Km de retour :') }}</div>
                             {{ form_errors(edit_form.km) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.km) }}</div>
                          </div>
                      </div>
                      <div class="span4">
                          <div class="row">
                             <div class="col-sm-4">{{ form_label(edit_form.degats,'Dégats :') }}</div>
                             {{ form_errors(edit_form.degats) }}
                             <div class="col-sm-8">{{ form_widget(edit_form.degats) }}</div>
                          </div>
                      </div>
                              <input type="submit" class="btn btn-success btn-sm" value="Modifier" />
                      {{ form_end(edit_form) }}
                </div>
              </div>
      </div>

    </div>
  </section>
</div>


</div>
</div>
</div>
</div>
</div>
{% endblock %}